<div class="page">
  <header class="header">
    <h1>Gebruikers</h1>
    <span class="badge">{{ users.length }}</span>
  </header>

  <ul class="user-list" *ngIf="users.length > 0; else empty">
    <li class="user-card" *ngFor="let user of users">
      <div class="avatar">{{ user.name?.charAt(0)?.toUpperCase() }}</div>
      <div class="user-info">
        <span class="user-name">{{ user.name }}</span>
        <span class="user-email">{{ user.email }}</span>
      </div>
    </li>
  </ul>

  <ng-template #empty>
    <p class="empty">Geen gebruikers gevonden.</p>
  </ng-template>
</div>
